/*MCQ*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.student-exam-whole {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.student-exam-container {
  width: 100%;
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding-top: 0;
  padding-left: 0;
}

.student-exam-container > label {
  font-size: 18px;
  font-weight: bold;
  color: #797777;
  align-self: flex-start;
  margin-left: 5%;
}

.student-exam-box {
  width: 90%;
  height: 50%;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
  color: #000;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.student-exam-box > p {
  font-size: 24px;
}

.student-exam-box:focus {
  outline: none;
  border: 2px solid #1b72c4;
}

.student-exam-option-container {
  width: 90%;
  background-color: #ffffff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  height: 40%;
  padding: 40px 300px;
}

.option-pair {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 20px;
  background-color: transparent;
  border: 1px solid #b0b0b3;
  box-shadow: 0 4px #ccc;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.option-pair:hover {
  box-shadow: 0 5px #3b7ffe, 0 0 5px rgba(34, 7, 241, 0.3);
}

.option-pair input[type="radio"]:checked + label {
  border-radius: 8px; 
 
}


.option-pair:has(input[type="radio"]:checked) {
  background-color: #e3eef6; 
  box-shadow: 0 5px #3b7ffe; 
}

.option-pair input[type="radio"] {
  transform: scale(1.9);
  margin-right: 5px;
}

.option-pair label {
  font-size: 18px;
  color: #000;
}

.student-exam-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 30px;
  margin-right: 200px;
}

.student-exam-button-container button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: rgba(22, 9, 140, 0.5);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  height: 50px;
  box-shadow: 0 5px #7a5097;
}

.student-exam-button-container button:hover {
  background: linear-gradient(90deg, rgba(0, 126, 243, 0.8), rgba(132, 16, 215, 0.6));
}

.student-exam-back button {
  border: none;
  background-color: transparent;
  font-size: 45px;
}

.student-exam-back {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  margin-top: 0;
  background-color: #ffffff;
}

.student-exam-back h2 {
  margin-left: 15px;
  color: rgba(22, 9, 140, 0.5);
}





/*ESSAY*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.student-exam-whole {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.student-exam-container-essay {
  width: 100%;
  max-width: 100%;
  background-color: #feffff;
  border-radius: 10px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding-top: 0;
  padding-left: 0;
}

.student-exam-container-essay > label {
  font-size: 18px;
  font-weight: bold;
  color: #797777;
  align-self: flex-start;
  margin-left: 5%;
}

.student-exam-box-essay {
  width: 90%;
  height: 30%;
  background-color: transparent;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
  color: #000;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.student-exam-box-essay > p {
  font-size: 24px; 
}

.student-exam-box-essay:focus {
  outline: none;
  border: 2px solid #1b72c4;
}

.student-exam-option-container-essay {
  width: 90%;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 60%;
  padding: 40px 100px; 
  
}

.student-exam-input-essay {
  width: 100%; 
  max-width: 1000px; 
  height: 100%; 
  min-height: 150px; 
  padding: 15px;
  font-size: 18px; 
  color: #000;
  border: 1px solid #b0b0b3;
  border-radius: 10px;
  background-color: #ffffff;
   box-shadow: 0 3px #ccc;
   
 
  font-family: "Poppins", sans-serif;
  resize: vertical; 
  overflow-y: auto; 
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.student-exam-input-essay:focus {
  outline: none;
  border-color: #1b72c4; 
  box-shadow: 0 5px #3b7ffe, 0 0 5px rgba(34, 7, 241, 0.3);
 
}


.student-exam-input-essay:hover {
  background-color: #f5f7fa; 
}

.student-exam-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 30px;
  margin-right: 200px;
}

.student-exam-button-container button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: rgba(22, 9, 140, 0.5);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  height: 50px;
  box-shadow: 0 5px #8c64a7;
  
  
}

.student-exam-button-container button:hover {
  background: linear-gradient(90deg, rgba(0, 126, 243, 0.8), rgba(132, 16, 215, 0.6));
}

.student-exam-back button {
  border: none;
  background-color: transparent;
  font-size: 45px;
  
}

.student-exam-back {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  margin-top: 0;
  background-color: #ffffff;
}

.student-exam-back h2{
    margin-left: 15px;
    color:#3b7ffe
}


/*IDENTIFICATION*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.student-exam-whole {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.student-exam-container-identification {
  width: 100%;
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding-top: 0;
  padding-left: 0;
}

.student-exam-container-identification > label {
  font-size: 18px;
  font-weight: bold;
  color: #797777;
  align-self: flex-start;
  margin-left: 5%;
}

.student-exam-box-identification {
  width: 90%;
  height: 50%;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
  color: #000;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.student-exam-box-identification > p {
  font-size: 24px; 
}

.student-exam-box-identification:focus {
  outline: none;
  border: 2px solid #1b72c4;
}

.student-exam-option-container-identification {
  width: 90%;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 40%;
  padding: 40px 300px; 
}

.student-exam-input-identification {
  width: 100%; 
  max-width: 700px; 
  padding: 15px;
  font-size: 18px; 
  color: #000;
  border: 1px solid #b0b0b3; 
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 6px #ccc;
  font-family: "Poppins", sans-serif; 
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.student-exam-input-identification:focus {
  outline: none;
  border-color: #1b72c4; 
  box-shadow: 0 5px #3b7ffe, 0 0 5px rgba(34, 7, 241, 0.3);
}


.student-exam-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 30px;
  margin-right: 200px;
}

.student-exam-button-container button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: rgba(22, 9, 140, 0.5);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  height: 50px;
  box-shadow: 0 5px #7a5097;
}

.student-exam-button-container button:hover {
  background: linear-gradient(90deg, rgba(0, 126, 243, 0.8), rgba(132, 16, 215, 0.6));
}

.student-exam-back button {
  border: none;
  background-color: transparent;
  font-size: 45px;
}

.student-exam-back {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  margin-top: 0;
  background-color: #ffffff;
}

.student-exam-back h2 {
  margin-left: 15px;
  color: rgba(22, 9, 140, 0.5);
}



/*TRUE OR FALSE*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.student-exam-whole {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.student-exam-container-tf {
  width: 100%;
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding-top: 0;
  padding-left: 0;
}

.student-exam-box-tf {
  width: 90%;
  height: 50%;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
  color: #000;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.student-exam-box-tf > p {
  font-size: 24px;
}

.student-exam-box-tf:focus {
  outline: none;
  border: 2px solid #1b72c4;
}

.student-exam-option-container-tf {
  width: 90%;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 40px;
  height: 40%;
  padding: 40px 300px;

}

.student-exam-button.option-pair-tf {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 4px #ccc;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 200px;
  height: 80px;
  gap:10%
}

.student-exam-button.option-pair-tf:hover {
  box-shadow: 0 5px #3b7ffe, 0 0 5px rgba(34, 7, 241, 0.3);
}

.student-exam-button.option-pair-tf input[type="radio"] {
  transform: scale(1.8);
  margin-right: 5px;
}

.student-exam-button.option-pair-tf label {
  font-size: 18px;
  color: #000;
  cursor: pointer;
}

.student-exam-button.option-pair-tf:has(input[type="radio"]:checked) {
  background-color: #e3eef6;
  box-shadow: 0 5px #3b7ffe;
}

.student-exam-button.option-pair-tf input[type="radio"]:checked + label {
  border-radius: 8px;
 
}



.student-exam-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 30px;
  margin-right: 200px;
}

.student-exam-button-container button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: rgba(22, 9, 140, 0.5);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  height: 50px;
  box-shadow: 0 5px #7a5097;
}

.student-exam-button-container button:hover {
  background: linear-gradient(90deg, rgba(0, 126, 243, 0.8), rgba(132, 16, 215, 0.6));
}

.student-exam-back button {
  border: none;
  background-color: transparent;
  font-size: 45px;
}

.student-exam-back {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  margin-top: 0;
  background-color: #ffffff;
}

.student-exam-back h2 {
  margin-left: 15px;
  color: rgba(22, 9, 140, 0.5);
}