@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.whole {
    display: flex;
    gap: 3rem;
    max-width: 1920px; 
    align-items: center; 
    height: 100vh;
    background-color: #eaf0f7;
    
    

}


.side-bar-and-main-container {
    display: flex;
   
    width: 100%;
    align-items: flex-end; 
    height: 93vh;
    background-color: #eaf0f7;
    
    

    
} 



 .teacher-home-header-logo {
  display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.9rem;
    padding: 10px;

 }

.teacher-home-header-logo img {
    width: 90px;
    height: 60px;
    object-fit: cover;
}



/* header start*/
.teacher-home-main-header {
    width: 100%;
    height: 7%;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    
}

.teacher-home-main-header.scrolled {
    background: linear-gradient(90deg, rgba(0, 126, 243, 0.8), rgba(106, 13, 173, 0.2));


}

.teacher-home-spacer {
    flex-grow: 1;
}

.teacher-home-main-header nav {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.teacher-home-main-header nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-item {
    position: relative;
}
.nav-item span {
    color: #000000;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.2s;
}

.nav-item span:hover {
    color: #007ef3;
}

.teacher-home-header-dropdown {
    display: none !important;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #b0b0b3;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    top: 100%;
    left: 0;
    width: auto;
    padding: 5px 0;
}

.nav-item:hover .teacher-home-header-dropdown {
    display: block !important;
}

.nav-item:nth-child(1) .teacher-home-header-dropdown {
    min-width: 250px;
}

.nav-item:nth-child(2) .teacher-home-header-dropdown,
.nav-item:nth-child(3) .teacher-home-header-dropdown {
    min-width: 120px;
}

.teacher-home-header-dropdown li {
    list-style: none;
}

.teacher-home-header-dropdown li span {
    padding: 10px 15px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    display: block;
    white-space: nowrap;
}

.teacher-home-header-dropdown li span:hover {
    background-color: #EDF1FA;
    color: #007ef3;
}

/* header start*/



/* sidebar start */
.sidebar {
    width: 100%;
    max-width: 300px;
    background: linear-gradient(120deg, rgba(26, 6, 199, 0.9), rgba(56, 1, 145, 0.541));
    border-radius: 5px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 85vh; 
    margin-left: 3.5rem; 
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sidebar-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.9rem;
    
}

.sidebar-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar-image img:hover {
   background-image: url('insys.png'); 
}

.sidebar-image:hover img {
    
    filter: brightness(500%)

}



.sidebar-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-bottom: 2rem;
   ;
}

.sidebar-title {
    font-size: 1.1rem;
    font-weight: 500;
    color:#ffffff;
    margin-bottom: 1rem;
}

.main-container-title{
     font-size: 1.1rem;
    font-weight: 500;
    color:#3b3939;
  

}

.sidebar-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.7rem;
    background-color: rgba(166, 179, 194, 0.1);
    color: #ffffff;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
    font-weight: 500;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    
    
}


.sidebar-btn i {
    font-size: 17px;
    border-radius: 5px;
    
}

.sidebar-btn:hover {
    background-color:  #ffffff;
    color: #000000;
   border-bottom-left-radius: 50px;
   border-top-left-radius: 50px;
    
}

.profile-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.75rem;
    padding: 0.6rem;
    background-color: rgba(166, 179, 194, 0.2);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: auto;
    
     border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    margin-right: 0;
}

.profile-container .fa-user {
    font-size: 1.5rem;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    padding: 0.75rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease; 
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    flex-grow: 1;
}

.profile-name {
    font-size: 0.9rem;
    font-weight: 500;
    color: #ffffff;
    transition: color 0.2s ease;
}

.profile-title {
    font-size: 0.8rem;
    color: #ffffff;
    transition: color 0.2s ease; 
}

.profile-container:hover {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    margin-right: 0;
    

}

.profile-container:hover .fa-user {
    background-color: rgba(158, 150, 199, 0.5); 
    color: #44068b; 
}

.profile-container:hover .profile-name,
.profile-container:hover .profile-title {
    color: #000000; 
}
/* sidebar end */



/* main content start */
.main-home-content { 
    flex: 1;
    max-width: 1500px;
    padding: 1.5rem;
    height: 85vh;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    margin-right: 2.5rem;
    
}



.dropdown-main{
    padding: 0.3rem;
    background-color: #ffffff;
    border: 0.5px solid transparent;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #000000;
    margin-left:1270px;
}

.dropdown-main:hover{

 background-color: #eaf0f7;
}

.dropdown-main:focus {
    outline: none;
    border-color: #2851d8;
    box-shadow: 0 0 4px rgba(36, 117, 204, 0.7);
}



/* grid start*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    max-height: 90%; 
    overflow-y: auto;  
    padding-right: 0.5rem; ;
    margin-top: 2%;
    background-color: transparent;
    
}


.grid-item {
    background-color: #eaf0f7;
    border-radius: 7px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
    position: relative; 
    transition: transform 0.2s ease;
}

.grid-item:hover {
    background-color: #d2e0f0;
   
}



.teacher-home-grid-item-buttons {
    position: absolute;
    top: 8px; 
    right: 8px;
    display: flex;
    gap: 0.3rem; 
    align-items: center;
}

.teacher-home-delete-button,
.teacher-home-duplicate-button {
    background-color: #e0e8eb;
    border: 0.5px solid #af90906c;
    border-radius: 20px;
    padding: 0.25rem; 
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px; 
    height: 25px; 
    position: relative;
    padding: 15px;
}

.teacher-home-delete-button i,
.teacher-home-duplicate-button i {
    font-size: 1rem; 
    color: #0ea326ee;
}

.teacher-home-delete-button:hover, .teacher-home-duplicate-button:hover{
    background-color: #eef4fc; 
}



.tooltip {
    visibility: hidden;
    background-color: #3a3f42; 
    color: #ffffff;
    font-size: 0.7rem; 
    font-weight: 400;
    text-align: center;
    border-radius: 4px;
    padding: 0.3rem 0.6rem;
    position: absolute;
    z-index: 1;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; 
    opacity: 0;
    transition: opacity 0.2s;
}

.teacher-home-delete-button:hover .tooltip,
.teacher-home-duplicate-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


.exam-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
    margin-right: 60px; 
}


.grid-container::-webkit-scrollbar {
    width: 9px;
}

.grid-container::-webkit-scrollbar-track {
    background: transparent;
}

.grid-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.grid-container::-webkit-scrollbar-thumb:hover {
    background: rgba(67, 93, 210, 0.10);
}




/* task bar start*/

.exam-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.exam-content i {
    font-size: 3rem;
    color: #ccc;
    margin-left: 1rem;
}

.exam-content span {
    font-size: 0.9rem;
    color: #000000;
}

.taskbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #78828C;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-top: auto;
}

.taskbar-left {
    font-size: 0.8rem;
    color: #fff;
}

.taskbar-right {
    font-size: 0.8rem;
    color: #fff;
}

.done-text {
    font-weight: bold;
}

/* task bar end*/







/* yung color coding*/

.quiz-item .taskbar{
    background-color: #00B478;  
}
.quiz-item .exam-content i.fa-folder .teacher-home-delete-button i,
.teacher-home-duplicate-button i{
color: #00B478;  

}
.quiz-item .teacher-home-duplicate-button i.fa-clone{
     color: #00B478; 
}
.quiz-item .teacher-home-delete-button i.fa-trash{
     color: #00B478; 

}


.activity-item .taskbar  {
    background-color: #FF783C;
}
.activity-item .exam-content i.fa-folder {
    color: #FF783C; 
}

.activity-item .teacher-home-duplicate-button i.fa-clone{
     color: #FF783C;

}
.activity-item .teacher-home-delete-button i.fa-trash{
     color: #FF783C;

}




.exam-item .exam-content i.fa-folder {
    color: #008CFF;
}
.exam-item .taskbar{
     background-color: #008CFF;
}
.exam-item .teacher-home-duplicate-button i.fa-clone{
     color: #008CFF;

}
.exam-item .teacher-home-delete-button i.fa-trash{
     color: #008CFF;

}